views/api/domains/index

<div>
  <table>
    <% @domains.each do |domain| %>
      <tr>
        <td><%= domain.hostname %></td>
        <td><%= domain.origin_ip_address %></td>
        <td><%= domain.account_id %></td>
      </tr>
    <% end %>
  </table>
</div>
